cicd_reports/*
.DS_Store
integration-tests/logs/*
api-server-flask/.secrets.env
.env
.env.secrets
.files/*
files/*
logs/*

# Virtual environments
venv/
api-server-flask/venv/

# AI Content Downloads
ai_content_downloads/
