// paper & background
$paper: #000000;

// primary
$primaryLight: #1a2035;
$primaryMain: #121212;
$primaryDark: #0a0a0a;
$primary200: #2c2c2c;
$primary800: #000000;

// secondary
$secondaryLight: #ffebee;
$secondaryMain: #f44336;
$secondaryDark: #e53935;
$secondary200: #ef9a9a;
$secondary800: #c62828;

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ff3c00;
$orangeDark: #d84315;

// blue
$lightBlue: #3899ef;
$blueMain: #0d47a1;
$darkBlue: #002171;


// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #fff3e0;
$grey100: #ffe0b2;
$grey200: #ffcc80;
$grey300: #ffb74d;
$grey500: #ff9800;
$grey600: #fb8c00;
$grey700: #f57c00;
$grey900: #e65100;

//-----------------------|| JAVASCRIPT ||-----------------------//

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // blue
    lightBlue: $lightBlue;
    blueMain: $blueMain;
    darkBlue: $darkBlue;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;
}
